.boards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1279px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 639px) {
  .boards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

.board {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  gap: 15px;
  padding: 12px;
  width: 282px;
  border-radius: 10px;
  background-color: var(--board-background-color);
  font-size: 18px;
}

.board__heading {
  font-weight: 400;
  font-size: inherit;
}

.board__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  overflow-y: auto;
  list-style: none;
}

@media (max-width: 1279px) {
  .board__list {
    max-height: 200px;
  }
}

.board__item {
  border-radius: 5px;
  background-color: var(--white-color);
  cursor: pointer;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

.board__item-link {
  display: block;
  padding: 8px;
  width: 100%;
  height: 100%;
  outline: 0;
  border-radius: 5px;
  color: inherit;
  text-decoration: none;
}

.board__item-link:focus-visible {
  box-shadow: inset 0 0 0 2px var(--main-background-color);
}

.dropdown-list {
  position: absolute;
  top: calc(100% - 53px);
  z-index: 2;
  padding: 0;
  width: 258px;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  background-color: var(--white-color);
  list-style: none;
}

.dropdown-item {
  padding: 8px;
  cursor: default;
  word-wrap: break-word;
  outline: 0;
  border-radius: 5px;
}

.dropdown-item:focus-visible {
  box-shadow: inset 0 0 0 2px var(--main-background-color);
}

.dropdown-item:hover {
  background-color: #dedede;
}

.dropdown__select {
  position: relative;
  margin-bottom: 44px;
  width: 100%;
  height: 37px;
  outline: 0;
  border-radius: 5px;
  background-color: var(--white-color);
  cursor: pointer;
}

.dropdown__select:focus-visible {
  box-shadow: inset 0 0 0 2px var(--main-background-color);
}

.dropdown__select::after,
.dropdown__select::before {
  position: absolute;
  top: 50%;
  display: block;
  width: 15px;
  height: 1px;
  border-radius: 1px;
  background-color: #000;
  content: "";
}

.dropdown__select::after {
  right: 18px;
  transform: rotate(55deg);
}

.dropdown__select::before {
  transform: rotate(-55deg);
  right: 10px;
}
